body{
    background: linear-gradient(to right, #3a6186, #89253e);}

h1{
    color: aliceblue;
}

.block{
    width: 400px;
    height: 100%;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);    margin-top: 200px;
    margin-left: 550px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(96, 88, 88, 0.4);
}
.form-contrl{
    margin: 20px;
}
.margindown{
    margin-bottom: 5px;
    width: 290px;
    background: linear-gradient(to right, #c31432, #240b36);text-decoration: solid;
font-weight: 600;
border: none;
color: whitesmoke;
border: 1px solid whitesmoke;
}

label{
    margin-right: 9px;
}
input{
    border: none;
    border-radius: 5px;
    padding-right: 10px;
}
.m1{
    position: relative;
}
.m11{
    position: absolute;
    right: 0;
top:0px;
}
.m2{
    position: relative;
}
.m22{
    position: absolute;
    right: 0;
top:0px;
}
.m3{
    position: relative;
}
.m33{
    position: absolute;
    right: 0;
top:0px;
}
.m4{
    position: relative;
}
.m44{
    position: absolute;
    right: 0;
top:0px;
}
.m5{
    position: relative;
}
.m55{
    position: absolute;
    right: 0;
top:25px;
}

.bottom{
    margin-bottom: 20px;
}
